In [9]:
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('seaborn')

In [5]:
data = {
    "SEQ_LEN": [200, 200, 100, 100, 300, 300],
    "True days": [128, 128, 142, 142, 113, 113],
    "Predict days": [111, 69, 110, 83, 106, 75],
    "Conv days": [111, 69, 110, 83, 106, 75],
    "Unconv days": [17, 59, 32, 59, 7, 38],
    "Date consider": [True, False, True, False, True, False]
}

In [6]:
df = pd.DataFrame(data)
df = df.set_index("SEQ_LEN")
df

         True days  Predict days  Conv days  Unconv days  Date consider
SEQ_LEN
200            128           111        111           17           True
200            128            69         69           59          False
100            142           110        110           32           True
100            142            83         83           59          False
300            113           106        106            7           True
300            113            75         75           38          False

In [7]:
df.sort_values("SEQ_LEN")

         True days  Predict days  Conv days  Unconv days  Date consider
SEQ_LEN
100            142           110        110           32           True
100            142            83         83           59          False
200            128           111        111           17           True
200            128            69         69           59          False
300            113           106        106            7           True
300            113            75         75           38          False